<FilesMatch "(d3precheckinfolder\.php)">
    <IfModule mod_authz_core.c>
        # Apache 2.4
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        # Apache 2.2
        order deny,allow
        allow from all
    </IfModule>
</FilesMatch>
